@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-pulse-slow {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

/* Fix for -webkit-text-size-adjust warning */
html,
:host {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}